<div class="container-fluid1">
  <span class="navbar-brand mb-0 h1">Dashboard</span>
  <div class="search-container">
    <input type="text" placeholder="Pesquisar..." class="busc">
  </div>
  <div class="icons">
    <button title="Notificações" class="but-not"><img src="/assets/img/icon-not.png" class="img-not"></button>
    <button title="Configurações" class="but-con"><img src="/assets/img/icon-con.png" class="img-con"></button>
    <button title="Perfil" class="but-per"><img src="/assets/img/icon-per.png"></button>
  </div>
</div>


  
    <div class="container-fluid">
      <div class="menu">
        <a class="navbar-brand" href="#">Navbar</a>
        <button>🏠 Home</button>
        <button>🔑 Autenticação</button>
        <button>💾 Salvar</button>
        <button>📂 Importar Dados</button>
        <button>💬 Mensagem</button>
      </div>
    </div>
  


<mat-grid-list cols="2" rowHeight="2:1" class="dash">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
